
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.left{
    float: left;
    width: 50%;
}

.pushDown{
    margin-bottom: 2em;
}
